<div class='container-sm'>
    <h1>Home#index</h1>
    <p class="text-decoration-underline">Find me in app/views/home/index.html.erb</p>
</div>

<figure class="text-end">
  <blockquote class="blockquote">
    <p>A well-known quote, contained in a blockquote element.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Someone famous in <cite title="Source Title">Source Title</cite>
  </figcaption>
</figure>